.app_title
    display block
    width 100%
    font-size 24px
    line-height 60px
    color #41dae4
    text-align center

.permission_toggleFold
    vertical-align middle
    padding-right 5px
    font-size 16px
    cursor pointer

.permission_placeholder
    content ' '
    display inline-block
    width 16px
    font-size 16px

.init_table
    width 100% !important
    margin 0 auto !important

    th
        background-color: #edf6ff
        text-align: center !important
        color #066cd4
        padding-left 5px !important
        font-weight bold

        .cell
            padding 0 !important

    td, th
        font-family: '宋体'
        font-size 12px
        padding 0 !important
        height 40px !important

    .el-table--border, .el-table--group
        border: 1px solid #dde2ef

    td, th.is-leaf
        border-bottom: 1px solid #dde2ef

    .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed
        border-right: 1px solid #dde2ef

    .el-table--striped .el-table__body tr.el-table__row--striped td
        background-color #f7f9fa
