<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/beeui.log"
                     filePattern="logs/beeui-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </appenders>


    <loggers>
        <Logger name="org.springframework" level="info"></Logger>
        <Logger name="org.springframework.jndi" level="error"></Logger>
        <Logger name="org.springframework.beans" level="error"></Logger>
        <Logger name="org.hibernate.validator" level="error"></Logger>
        <Logger name="net.beeapm" level="debug"></Logger>
        <Root level="debug">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </Root>
    </loggers>
</configuration>